rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function estaAutenticado() {
      return request.auth != null;
    }

    function esStaff() {
      return estaAutenticado() &&
        exists(/databases/$(database)/documents/usuarios/$(request.auth.uid));
    }

    function rolDe(uid) {
      return get(/databases/$(database)/documents/usuarios/$(uid)).data.rol;
    }

    function esAdmin() {
      return esStaff() && rolDe(request.auth.uid) == 'admin';
    }

    match /especies/{especieId} {
      allow read: if true;
      allow write: if esStaff();
    }

    match /pedidos/{pedidoId} {
      allow create: if true;
      allow read, update: if esStaff();
      allow delete: if false;
    }

    match /auditoria/{entradaId} {
      allow read: if esStaff();
      allow create: if esStaff();
      allow update, delete: if false;
    }

    match /clientesBloqueados/{cedula} {
      allow read: if true;
      allow write: if esAdmin();
    }

    match /gastos/{gastoId} {
      allow read, write: if esAdmin();
    }

    match /usuarios/{uid} {
      allow read: if esStaff();
      allow write: if esAdmin();
    }

    match /configuracion/{docId} {
      allow read: if true;
      allow write: if esAdmin();
    }
  }
}
